# .github/workflows/main.yaml
# Copyright 2025 Keith Maxwell
# SPDX-License-Identifier: CC0-1.0

on: # yamllint disable-line rule:truthy
  push: { branches: [main] }
  pull_request: { branches: [main] }
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: denoland/setup-deno@v2
      - run: deno --version
      - run: deno task all
      - run: git diff --exit-code # changes cause this job to fail
      # yamllint disable-line rule:line-length
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with: { path: coverage/html/ }
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7
        with: { enable-cache: false }
      - run: uv tool run reuse lint
  renovate-config-validator:
    # yamllint disable-line rule:line-length
    uses: maxwell-k/dotlocalslashbin/.github/workflows/renovate.yaml@20ea1983204bcf1386c39091939aeb12dd83b547 # v0.0.22
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with: { fetch-depth: 0 }
      - run:
          podman run "--volume=$PWD:/src:z" --workdir=/src commitlint/commitlint
          --verbose --from=origin/main --to=HEAD
