# .github/workflows/main.yaml
# Copyright 2025 Keith Maxwell
# SPDX-License-Identifier: CC0-1.0

on: # yamllint disable-line rule:truthy
  push: { branches: [main] }
  pull_request: { branches: [main] }
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: denoland/setup-deno@v2
      - run: deno --version
      - run: deno task all
      - run: git diff --exit-code # changes cause this job to fail
      # yamllint disable-line rule:line-length
      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        with: { path: coverage/html/ }
      - uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7
        with: { enable-cache: false }
      - run: uv tool run reuse lint
  renovate-config-validator:
    # yamllint disable-line rule:line-length
    uses: maxwell-k/dotlocalslashbin/.github/workflows/renovate.yaml@d1558d04ad82861ead2cce45fb850a05c47e4fc7 # v0.0.27
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with: { fetch-depth: 0 }
      - run:
          podman run "--volume=$PWD:/src:z" --workdir=/src commitlint/commitlint
          --verbose --from=origin/main --to=HEAD
